Repository Mohit4022-cloud/Harper-AI-Frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: component, api, test, documentation, dependencies, database, ci/cd, security

.github/labeler.yml:

# Add labels to PRs based on file changes

# Component changes
"component":
  - changed-files:
    - any-glob-to-any-file: 
      - src/components/**/*
      - src/components/*

# API changes
"api":
  - changed-files:
    - any-glob-to-any-file:
      - src/app/api/**/*
      - src/lib/api-client.ts

# Test changes
"test":
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*
      - jest.config.*
      - playwright.config.*

# Documentation
"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - docs/**/*

# Dependencies
"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - package.json
      - package-lock.json

# Database
"database":
  - changed-files:
    - any-glob-to-any-file:
      - prisma/**/*

# CI/CD
"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*

# Security
"security":
  - changed-files:
    - any-glob-to-any-file:
      - src/lib/security/**/*
      - src/app/api/auth/**/*

feat: Add GitHub Actions CI/CD workflows
  .github/workflows/api-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/notify-slack.yml
  .github/workflows/playwright.yml
Labels: ci/cd

fix: Move jest.setup.ts to tests directory to fix Render build
  jest.config.ts
  tests/setup/jest.setup.ts
Labels: test

fix: Exclude prisma and scripts from TypeScript build
  tsconfig.json
Labels: none

fix: Add password field to User model and fix seed data
  prisma/schema.prisma
  prisma/seed.ts
Labels: database

fix: Add Prisma client generation to build process
  package.json
Labels: dependencies

fix: Update UserRole enum values to match Prisma schema
  src/app/api/auth/register/route.ts
  src/lib/mockData.ts
  src/types/index.ts
Labels: api, security

fix: Update generateTokens to accept partial User object
  src/app/api/auth/login/route.real.ts
  src/lib/jwt.ts
Labels: api, security

fix: Add missing password security module
  src/lib/security/password.ts
Labels: security

fix: Change PasswordStrength interface to use 'errors' instead of 'feedback'
  src/lib/security/password.ts
Labels: security

fix: Remove name field from generateTokens call in register route
  src/app/api/auth/register/route.real.ts
Labels: api, security

fix: Use Headers API instead of plain object in api-client
  src/lib/api-client.ts
Labels: api

Fix Next.js build errors for deployment
  src/app/api/call/transcript/route.ts
  src/app/api/calls/route.ts
Labels: api

fix: Production deployment fixes for phase 5
  .env.example
  .gitignore
  CODE_QUALITY_SECURITY_REPORT.md
  DEPLOYMENT_ENV_SETUP.md
  DEPLOYMENT_READINESS_CHECK.md
  render.yaml
  scripts/deployment-checklist.sh
  scripts/optimize-bundle.sh
  src/app/(dashboard)/calendar/page.tsx
  src/app/api/auth/register/route.real.ts
  src/app/api/call/start/route.ts
  src/app/api/calls/active/route.ts
  src/app/api/calls/analytics/route.ts
  src/app/api/config.ts
  src/components/common/LazyImage.tsx
  src/lib/api-client.ts
  src/lib/db/auth.ts
  src/lib/logger.ts
  src/lib/middleware/rate-limit.ts
  src/lib/middleware/upload-limits.ts
  src/lib/security-headers.ts
  src/middleware.ts
  src/tests/promptBuilder.test.ts
  test-results/.last-run.json
  test-results/email-personalization-AI-E-0726b--Gemini-API-Key-Persistence-chromium/error-context.md
  test-results/email-personalization-AI-E-0726b--Gemini-API-Key-Persistence-chromium/test-failed-1.png
  test-results/email-personalization-AI-E-0726b--Gemini-API-Key-Persistence-chromium/video.webm
  tests/unit/promptBuilder.test.ts
  tsconfig.tsbuildinfo
Labels: component, api, test, documentation, security

docs: Add deployment summary and merge instructions
  DEPLOYMENT_SUMMARY.md
  MERGE_INSTRUCTIONS.md
Labels: documentation
